<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="./app/doge.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#282828" />
  <meta name="description" content="VS Code Doge Extension!" />
  <meta name="keywords" content="VS Code,Doge,Meme">
  <meta name="author" content="Adonis Stavridis">
  <title>Doge Meme</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root">
    <h1>Hello World!</h1>
  </div>
</body>

</html>
