body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  font-size: calc(10px + 2vmin);
  color: snow;
}

.appcontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.memecontainer {
  flex: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme {
  border: 0.05em solid gold;
  width: 80%;
  height: 70%;
}

.editorcontainer {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  
}
