body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  font-size: calc(10px + 2vmin);
  color: snow;
}

.appcontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.memecontainer {
  flex: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme {
  border: 0.05em solid gold;
  width: 80%;
  height: 70%;
}

.editorcontainer {
  padding: 1em;
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagesDiv {
  padding: 0.5em;
  border: 2px solid cyan;
  border-radius: 0.2em;
  max-width: 100%;
  min-width: 100%;
  max-height: 25%;
  overflow: auto;
}

.imagesDiv img {
  margin: 0.25em;
  max-width: 3em;
  max-height: 3em;
}
